<!-- Página de Cadastro -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link para acessar o css -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Página de Cadastro</title>
</head>
<body>
    <h1>Formulário de Cadastro</h1>
    <!-- Forms que ao ser finalizado nos leva a uma página com as informações inseridas nele -->
    <form action="{{url_for('cadastro')}}" method="post">
        <label for="nome">Nome do Usuário</label><br>
        <input type="text" placeholder="Digite o seu nome" name="nome"><br>
        <label for="email">Email</label><br>
        <input type="email" placeholder="Digite o seu email" name="email"><br>
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>