<!-- Página Inicial -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link para acessar o css -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Página Inicial</title>
</head>
<body>
    <h1>Página Inicial</h1>
    <div id="divInicial">
        <p>Bem-vindo à página inicial do nosso projeto, ao clicar no link abaixo você será redirecionado para a página de cadastro, onde temos um form para você preencher.</p>
        <!-- Link para ir para a página de cadastro -->
        <a href="{{url_for('cadastro')}}">Ir para o Formulário</a>
    </div>
</body>
</html>