<!-- Página Das informções do Login -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link para acessar o css -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Página das Informações de Login</title>
</head>
<body>
    <h1>Informações do Login</h1>
    <br>
    <div id="divInformacoes">
        <!-- {{nome}} e {{email}} pega as variaveis criadas no app.py e as coloca como texto aqui -->
        <h2>Nome: </h2>
        <p>{{ nome }}</p>
        <h2>Email: </h2>
        <p>{{ email }}</p>
        <!-- Voltar para a página inicial -->
         <div>
            <a href="{{url_for('index')}}">Voltar</a>
         </div>
    </div>
</body>
</html>
