<!-- Página Das informções do Login -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link para acessar o css -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Página das Informações de Login</title>
</head>
<body>
    <h1>Informções do Login</h1>
    <br>
    <!--  -->
    <h2>Nome: {{ dados.nome }}</h2>
    <h2>Email</h2>: {{ dados.email }}</h2>
    <!-- Voltar para a página inicial -->
    <a href="{{url_for('/')}}">Voltar</a>
</body>
</html>